{%extends "base_dashboard.html"%}

{%block content%}
<!-- Outer Row -->

<!-- Page Heading -->


<div class="row justify-content-center">
    <h1 class="text-primary align-items-center justify-content-center" >About</h1>
</div>
    <p>Ini adalah Website penghitung Body Mass Index(BMI) yang dibuat untuk project Digital Talent Kominfo. 
        Website ini dibuat oleh Kelompok L Kelas Python 1-D.</p>

    <p><b>Apa itu BMI?</b></p>
    
    <p>Body Mass Index (BMI) atau Indeks Massa Tubuh adalah angka yang menjadi penilaian standar untuk 
        menentukan apakah berat badan Anda tergolong normal, kurang, berlebih, atau obesitas. 
        Metrik ini bisa menjadi acuan awal untuk memperkirakan apakah Anda masuk dalam 
        golongan berat badan sehat atau tidak.</p>
    
    <p><b>Rumus BMI</b></p>
    
    <p>BMI = Berat Badan / (Tinggi Badan(m) x Tinggi Badan(m))</p>
    
    <p><b>Kategori BMI</b></p>
    <p><li>Kurang dari 18,5 = <b>Kurus</b></li>
       <li>18,5 - 22,8 = <b>Normal</b></li>
       <li>22,9 - 29,8 = <b>Gemuk</b></li>
       <li>Lebih dari 29,9 = <b>Obesitas</b></li></p>

{%endblock%}